<html>

    <body>
        <style>
            body {background: lightgrey; font-family: "Book Antiqua"}
            h1 {font-family: "Book Antiqua"; padding-left: 100px; padding-top: 30px}
            label {display: inline-block; width: 150px; text-align: left;
                font-family: "Book Antiqua"; font-size: 20px; border-radius: 0}
            form {text-align: center; border: 1px solid; border-top-left-radius: 20px;
                border-bottom-right-radius: 20px; margin-left: 30%; margin-right: 30%}
            input {border: 1px dotted }
            button {width: 200px; background: darkgray}
        </style>

        <h1>EDITAR PELÍCULA</h1>

        <form action="/pelicula/editar-pelicula?id=<%parametrosConsulta.id%>" method="post">
            <br>
            <label for="id">ID:</label>
            <input id="id" type="text" name="id" value="<%= parametrosConsulta.id%>" readonly>
            <br><br>

            <label for="nombre">Nombre:</label>
            <input id="nombre" type="text" name="nombre" value="<%= parametrosConsulta.nombre%>">
            <br><br>

            <label for="genero">Genero:</label>
            <input id="genero" type="text" name="genero" value="<%= parametrosConsulta.genero%>">
            <br><br>

            <label for="duracion">Duracion:</label>
            <input id="duracion" type="text" name="duracion" value="<%= parametrosConsulta.duracion%>">
            <br><br>

            <label for="anio">Año:</label>
            <input id="anio" type="text" name="anio" value="<%= parametrosConsulta.anio%>">
            <br><br>

            <label for="idfk">ID Director:</label>
            <input id="idfk" type="text" name="idfk" value="<%= parametrosConsulta.idfk%>" readonly>
            <br><br>

            <button type="submit">ACEPTAR</button>
            <button type="submit" formaction="obtener?idfk=<%= parametrosConsulta.idfk%>" formmethod="get">CANCELAR</button>
            <br><br>
        </form>

    </body>
</html>